body {
  margin: 0;
  padding: 0;
}

.main {
  width: 100vw;
  height: 225vh;
  background: linear-gradient(#000428, #004e92);
  display: flex;
  flex-direction: column;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  width: 100vw;
  display: flex;
  justify-content: center;
  color: #ecf0f1;
  align-items: center;
  flex-direction: column;
  height: 85vh;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  margin: 0;
  padding: 20px 0 0 0;
}

.logo {
  max-width: 180px;
}

section {
  width: 100vw;
  display: flex;
  justify-content: center;
  color: #ecf0f1;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.intro-section {
  height: 60vh;
}

.project-section {
  height: 70vh;
}

.content {
  font-size: 30px;
  width: 85%;
  max-width: 600px;
  margin: 0;
}

.content > a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 4px solid #ffffff;
}

.content > a:hover {
  color: #f1c40f;
  border-bottom: 4px solid #f1c40f;
}

.description {
  width: 85%;
  font-size: 20px;
  max-width: 600px;
  margin: 0;
  padding: 7px 0 0 0;
}

.emphasis {
  font-style: italic;
}

footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

a svg .svg-logo {
 transition: 200ms;
 transition-timing-function: ease-in-out;
 -webkit-transition: 300ms;
 -webkit-transition-timing-function: ease-in-out;
 }

a svg:hover .svg-logo {
  fill: #f1c40f;
}

.logo-link {
  outline: none; 
  border: 0; 
  text-decoration: none; 
}


@media (min-width: 600px) {
  .heading {
    font-size: 68px;
  }

  .content {
    font-size: 44px;
  }

  .description {
    font-size: 32px;
  }

  .logo {
    max-width: inherit;
  }

  .icon-container {
    display: flex;
    justify-content: space-around;
    width: 400px;
  }
}
